body
{
	
    
	background: linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
	text-align: left;
    font-family: Roboto;

}
.container
{
	
	/*border:solid;*/
	width: 360px;
    margin: 100px auto;
	
	padding: 0px;
	box-sizing: border-box;
	display: block;
	vertical-align: top;
	/*line-height: 0;*/
}
div {
    display: block;
}
.head
{
	background: #2980b9;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}
h1
{
	margin: 0px;
	height: auto;

}
input[type=text]
{
	width: 100%;
    padding: 13px 13px 13px 20px;
    margin: 0px 0;
    display: inline-block;
    border: 1px solid #ccc;
    font-size: 18px;
    box-sizing: border-box;
    background-color: #f7f7f7;
    color: #2980b9;
    border: 3px solid rgba(0,0,0,0);
}
.odd
{
	background-color: grey;
}
.list
{
	font-size: 18px;
    color: #2980b9;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
    margin-top: 0px;
}
span
{
    background-color: red;
    display:inline-block;
    overflow: auto;
    width:0;
    text-align: center;
    float:left;
    margin-right: 20px;
    color: white;
    transition: 0.2s linear;
    opacity: 0;
    /*display:none;
    /*transition: 0.2s linear;*/
    
}
li:nth-child(2n){
    background: #f7f7f7;
}
li:hover span {
    width: 40px;
    opacity: 1.0;
}


ul 
{
    list-style: none;
    margin: 0;
    padding: 0;
}

li
{
	background-color: white;
	height: 40px;
    line-height: 40px;
    color: #666;
    display: list-item;
    text-align: left;
    margin: 0;
    /*padding-left:10%;*/
    


}